body {
    background: #111118;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.custom-nav {
    background: #111118f0;
    padding: 20px 0;
    font-size: 15px;
    color: #fff;
}

/* HERO SECTION */
.hero-section {
    height: 100vh;
    background: linear-gradient(#0f0f12, #222);
}

.hero-title {
    font-size: 3.5rem;
}

.hero-btn {
    padding: 10px 30px;
    border-radius: 30px;
}

.hero-btn2 {
    background: #00d7c3;
    border-radius: 30px;
    padding: 10px 30px;
}

/* SECTION TITLE */
.section-title {
    font-size: 3rem;
    font-weight: 700;
}

/* WELCOME */
.welcome-section {
    padding: 100px 0;
}
.welcome-text p {
    color: #fff;
    margin-bottom: 10px;
    font-family: "Kanit", sans-serif;
}

/* FEATURES */
.features-section {
    padding: 80px 0;
}

.feature-icon {
    font-size: 40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #00d7c3;
    line-height: 80px;
    margin: auto;
    color: #111;
}

        /* Section Title */
        .section-title {
            text-align: center;
            margin-bottom: 40px;
        }

        .section-title h2 {
            font-size: 48px;
            font-weight: 700;
        }
/* TEAM */
.team-section {
    padding: 80px 0;
}

.team-img {
    width: 100%;
    border-radius: 50%;
}

/* PRICING */
.pricing-section {
    padding: 80px 0;
}

.pricing-box {
    background: #191922;
    border-radius: 15px;
    padding: 40px 20px;
    border: 1px solid #eee8e8ff;
}

.pricing-box.highlight {
    background: #000;
}

.pricing-box ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}
.team-section {
    background: #1d1d1d; /* */
}

.profile-pic img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

h5 {
    font-weight: 600;
}

p {
    font-size: 0.9rem;
}

/* CONTACT */
.contact-section {
    padding: 90px 0;
}

.contact-info h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-control {
    background: transparent;
    border: 1px solid #eee8e8ff;
    color: #fff;
}

.btn-primary {
    background: #00d7c3;
    color: #000;
    border: none;
}


       

        /* Section Title */
        .section-title1 {
            text-align: center;
            margin-bottom: 40px;
        }

        .section-title h2 {
            font-size: 48px;
            font-weight: 700;
        }

        .filter-menu a {
            color: #fff;
            margin: 0 15px;
            font-weight: 600;
            cursor: pointer;
            text-transform: uppercase;
        }

        /* Gallery images */
        .work-img {
            width: 100%;
            height: 260px;
            object-fit: cover;
            border-radius: 6px;
        }

        /* Footer */
        footer {
            background: #0b0b0f;
            padding: 40px 0;
            text-align: center;
            color: #999;
        }

        footer i {
            font-size: 22px;
            margin: 0 10px;
            color: #fff;
            cursor: pointer;
        }
   
